/*------------------------------------------------------------------
 [Table of contents]
 
 1. Typography
 2. HTML5 compatibility
 3. Colors
 4. Header
 5. Top Navigation Bar
 6. Menu
 7. Footer
 8. Slider Banner
 9. Upcomming Event
 10. Alumni Dashboard
 11. Block Links
 12. Alumni Interview
 13. Twitter Stream
 14. Instagram
 15. Newsletter
 16. About Us Page
 17. Event Single Page
 18. Alumni Story Page
 19. Job Detail Page
 20. Programs Events Page
 21. Gallery Page
 22. Access Denied Page
 23. Log In And Register Page
 24. Alumni Directory Page
 25. Story Single Page
 26. Career Opportunity Page
 27. Blog Page
 28. Blog Single Page
 29. Typography Page

 -------------------------------------------------------------------*/

/* Typography */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.html");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.html");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.html");
}
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat-Light";
  font-size: 12px;
  color: #757575;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #757575;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.color-theme {
  color: #f7ca18;
}

.bg-color-theme,
.bnt-theme {
  background-color: #f7ca18;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.bg-color-theme:hover,
.bnt-theme:hover {
  opacity: 0.8;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.heading-light, .text-light {
  font-family: "Montserrat-Light";
}

.heading-regular, .text-regular {
  font-family: "Montserrat-Regular";
}

.heading-bold, .text-bold {
  font-family: "Montserrat-Bold";
}

.list-item li {
  list-style: none;
  float: left;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font17 {
  font-size: 17px;
}

.font19 {
  font-size: 19px;
}

.font20 {
  font-size: 20px;
}

.font21 {
  font-size: 21px;
}

.font25 {
  font-size: 25px;
}

.font28 {
  font-size: 28px;
}

.font36 {
  font-size: 36px;
}

.font42 {
  font-size: 42px;
}

.color-theme-dark {
  color: #333333;
}

.color-theme-while {
  color: #ffffff;
}

/* color */
.color-custom {
  color: #ff3d00;
}

.color-custom:hover {
  color: #ff3d00;
}

.text-color {
  color: #777777;
}

.color-price-old {
  color: #fa6b6b;
}

.color-price-old:hover {
  color: #fa6b6b;
}

.color-white {
  color: #fff;
}

.color-white:hover {
  color: #fff;
}

.color-dark {
  color: #333333;
}

.color-dark:hover {
  color: #333333;
}

.color-red {
  color: #ff3d00;
}

.color-red:hover {
  color: #ff3d00;
}

.color-pink {
  color: #fa6b6b;
}

.color-pink:hover {
  color: #fa6b6b;
}

.color-blue {
  color: #395499;
}

.color-blue:hover {
  color: #395499;
}

.color-blue-light {
  color: #67e0fa;
}

.color-blue-light:hover {
  color: #67e0fa;
}

.color-green {
  color: #21caa9;
}

.color-green:hover {
  color: #21caa9;
}

.color-green-dark {
  color: #ff3d00;
}

.color-green-dark:hover {
  color: #ff3d00;
}

.color-gray {
  color: #999999;
}

.color-gray:hover {
  color: #999999;
}

.color-yellow {
  color: #feea3a;
}

/* background-color */
.bg-custom {
  background-color: #ff3d00;
}

.bg-red {
  background-color: #fa6b6b;
}

.bg-pink {
  background-color: #fa6b6b;
}

.bg-blue {
  background-color: #395499;
}

.bg-light-blue {
  background-color: #67e0fa;
}

.bg-green {
  background-color: #21caa9;
}

.bg-green-light {
  background-color: #41df7c;
}

.bg-green-dark {
  background-color: #ff3d00;
}

.bg-yellow {
  background-color: #feea3a;
}

.bg-coquelicot {
  background-color: #fd6940;
}

.bg-black {
  background-color: #000;
}

.bg-gray {
  background-color: #e9e9e9;
}

/*************************************
   4. Header
*************************************/
@media (min-width: 992px) {
  .page .container-header {
    box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.15);
  }
}
.page .header-wrapper {
  float: left;
  position: relative;
  width: 100%;
  z-index: 2;
}

.page .logo a img {
  /*box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.15);*/
}

.container-header {
  position: relative;
  height: 104px;
}

@media (min-width: 992px) {
  .header-position {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    float: left;
    width: 100%;
    background-color: #fff;
  }
}
/************************************* /
/* 5. Top Bar Nav */
.top-nav {
  background-color: #1a265c;
  height: 37px;
}
.top-nav .top-right {
  text-align: right;
}
.top-nav ul .top-search .navbar-form .form-control {
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  max-width: 70px;
  font-size: 12px;
  font-family: "Montserrat-Light";
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.top-nav ul .top-search .navbar-form button {
  font-size: 16px;
  margin-top: 9px;
  float: right;
}
.top-nav ul .top-search .navbar-form .form-control, .top-nav ul .top-search .navbar-form button {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  color: #fff;
}
.top-nav ul .top-search .navbar-form:hover .form-control {
  max-width: 120px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.top-nav ul .login {
  float: right;
  margin-left: 15px;
  margin-right: 0;
  padding-right: 0;
}
.top-nav ul .login a {
  background-color: #3a539b;
  height: 23px;
  margin: 8px 0;
  line-height: 2.2;
  color: #c0c6da;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 10px;
  font-family: "Montserrat-Light";
}
.top-nav ul li a {
  color: #9396a9;
  display: block;
  line-height: 3;
}
.top-nav ul li a .lnr {
  font-size: 20px;
}
.top-nav ul li a .icon {
  width: 30px;
  height: 37px;
  float: left;
  background-position: center center !important;
  margin-right: 5px;
}
.top-nav ul li a .mail-icon {
  background: url("../images/mail-icon.png") no-repeat;
}
.top-nav ul li a .phone-icon {
  background: url("../images/phone-icon.png") no-repeat;
}
.top-nav ul li a:hover {
  text-decoration: none;
}

/************************************* /
/* logo */
@media (min-width: 992px) {
  .logo {
    position: absolute;
    display: inline-block;
    width: 224px;
    z-index: 10;
  }
  .logo a {
    display: block;
  }
  .logo a img {
    box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.1);
    height: 150px;
  }
}
@media (max-width: 991px) {
  .logo-mobile {
    float: left;
    width: 150px;
    position: absolute;
    top: 6px;
    left: 15px;
    z-index: 9999;
  }
  .logo-mobile a {
    display: block;
  }
  .logo-mobile img {
    max-width: 100%;
    height: 60px;
  }
}
/************************************* /
/* 6. Menu */
.menu {
  padding: 18px 0;
}
.menu .nav > li > a {
  color: #1a265c;
  font-family: "Montserrat-Light";
  font-size: 14px;
  border-bottom: 2px solid #fff;
}
.menu .current a,
.menu .nav > li a:hover {
  border-bottom: 2px solid #f7ca18 !important;
}

.mean-container .mean-nav ul li a:hover {
  color: #f7ca18;
}

@media (max-width: 991px) {
  .mobile-menu {
    margin-top: -15px;
  }
}
/*************************************
   Header Type 1
*************************************/
.container-header.type1 {
  /************************************* /
  /* Top Bar Nav */
  /************************************* /
  /* logo */
  /************************************* /
  /* Menu */
}
.container-header.type1 .top-nav .top-left {
  text-align: left;
}
.container-header.type1 .top-nav .top-left ul li:nth-child(1) {
  margin-right: 20px;
}
@media (min-width: 992px) {
  .container-header.type1 .logo {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .container-header.type1 .header-middle .container {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .container-header.type1 .menu .nav > li {
    width: 200px;
  }
  .container-header.type1 .menu .nav > li:nth-child(2) {
    margin-right: 140px;
  }
  .container-header.type1 .menu .nav > li:nth-child(3) {
    margin-left: 140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-header.type1 .menu .nav > li {
    width: 180px;
  }
  .container-header.type1 .menu .nav > li:nth-child(2) {
    margin-right: 100px;
  }
  .container-header.type1 .menu .nav > li:nth-child(3) {
    margin-left: 100px;
  }
  .container-header.type1 .menu .logo {
    width: 210px !important;
  }
  .container-header.type1 .menu .logo img {
    max-width: 100%;
  }
  .container-header.type1 .menu .nav > li > a {
    font-size: 12px !important;
  }
}

/*************************************
   Header Type 2
*************************************/
.container-header.type2 {
  /************************************* /
  /* logo */
  /************************************* /
  /* Menu */
}
.container-header.type2 .container {
  position: relative;
}
@media (min-width: 992px) {
  .container-header.type2 .logo {
    top: -37px;
    left: 15px;
  }
}
.container-header.type2 .menu .navbar-nav {
  text-align: right;
}
.container-header.type2 .menu .nav > li > a {
  padding-left: 25px;
  padding-right: 25px;
}
.container-header.type2 .menu .nav > li:nth-child(4) a {
  padding-right: 0 !important;
}

/*************************************
   Main Content
*************************************/
.content-wrapper {
  width: 100%;
  float: left;
}

/*************************************
   7. Footer
*************************************/
.footer-wrapper {
  background-color: #1a265c;
  padding-bottom: 24px;
  width: 100%;
  float: left;
}
.footer-wrapper .foooter-container {
  background-color: #fff;
  padding: 55px 0 0;
  line-height: 2;
}
.footer-wrapper .foooter-container .footer-middle {
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer {
  float: left;
  display: block;
  margin-bottom: 10px;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer img {
  max-width: 100%;
  height: 165px;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-desc {
  clear: both;
  margin-bottom: 10px;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email {
  clear: both;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email {
  margin-left: 30px;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email a {
  color: #757575;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email a:hover {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #f7ca18;
}
.footer-wrapper .foooter-container .footer-middle .links-footer h6 {
  margin-bottom: 15px;
}
.footer-wrapper .foooter-container .footer-middle .links-footer ul li {
  line-height: 2.6;
}
.footer-wrapper .foooter-container .footer-middle .links-footer ul li a {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer-wrapper .foooter-container .footer-middle .links-footer ul li a:hover {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #f7ca18;
}
.footer-wrapper .foooter-container .footer-middle .links-social {
  max-width: 350px;
  margin: 0 auto;
}
.footer-wrapper .foooter-container .footer-middle .links-social .login-dashboard a {
  color: #fff;
  padding: 18px 30px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
}
.footer-wrapper .foooter-container .footer-middle .links-social ul {
  margin-top: 28px;
}
.footer-wrapper .foooter-container .footer-middle .links-social ul li a {
  font-size: 22px;
  color: #9f9f9f;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer-wrapper .foooter-container .footer-middle .links-social ul li a:hover {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #f7ca18;
}
@media (max-width: 991px) {
  .footer-wrapper .foooter-container .footer-middle .contact-footer {
    margin-bottom: 30px;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer-wrapper .foooter-container .footer-middle .contact-footer {
    text-align: center;
  }
  .footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer {
    width: 100%;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer {
    text-align: center;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer h6 {
    margin-top: 20px;
  }
}
.footer-wrapper .foooter-container .footer-bottom {
  padding: 30px 0;
}
.footer-wrapper .foooter-container .footer-bottom p {
  color: #9f9f9f;
}

/*************************************
   Footer Type 2
*************************************/
/************************************* /
/* Title */
.title.type1 {
  position: relative;
  padding-bottom: 22px;
}
.title.type1:before {
  content: "";
  background-color: #000;
  width: 38px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*** 8. Slider Banner ***/
.slider-hero .container {
  height: 100%;
  position: relative;
}
.slider-hero .sliders-wrap .owl-wrapper-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.slider-hero .owl-nav {
  display: none;
}
.slider-hero .owl-dots {
  position: absolute;
  left: 0;
  bottom: 50px;
  right: 0;
  margin: 0 auto;
  width: auto;
  text-align: center;
}
.slider-hero .owl-dots .owl-dot {
  display: inline-table;
  margin-left: 13px;
  vertical-align: middle;
}
.slider-hero .owl-dots .owl-dot span {
  background-color: #cfd0d1;
  vertical-align: middle;
  display: block;
  width: 13px;
  height: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.slider-hero .owl-dots .owl-dot.active {
  vertical-align: middle;
}
.slider-hero .owl-dots .owl-dot.active span {
  border: 4px solid #99918a;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.slider-hero .owl-caption {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.slider-hero .content-block {
  position: absolute;
  margin: auto;
  top: 100px;
  bottom: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  opacity: 1;
  left: 0;
  right: 0;
}
.slider-hero .content-block h2 {
  font-weight: 400;
  position: relative;
  margin: 0;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
}
.slider-hero .content-block .read-story {
  font-family: "Montserrat-Bold";
  padding: 16px 40px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  background-color: #f7ca18;
  border-color: #f7ca18;
  margin-top: 20px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.slider-hero .content-block .read-story:hover, .slider-hero .content-block .read-story:focus, .slider-hero .content-block .read-story:active {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.9;
}
.slider-hero .item {
  float: left;
  position: relative;
  width: 100%;
}
.slider-hero .item img {
  width: 100%;
}

@media (min-width: 1200px) {
  .slider-hero .content-block h2 {
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 53px;
  }
  .slider-hero .content-block {
    max-height: 280px;
  }
  .slider-hero .shop-now-link {
    margin-top: 50px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .slider-hero .content-block h2 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .slider-hero .content-block p {
    padding-top: 20px;
  }
  .slider-hero .content-block {
    top: 0 !important;
    max-height: 210px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider-hero .content-block h2 {
    font-size: 36px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .slider-hero .content-block h5 {
    font-size: 18px;
  }
  .slider-hero .content-block {
    max-height: 190px;
    top: 0 !important;
  }
}
@media (max-width: 767px) {
  .slider-hero .content-block h2 {
    padding-bottom: 0;
    padding-top: 15px;
    font-size: 20px;
    margin-bottom: 0;
  }
  .slider-hero .content-block h2::before {
    display: none;
  }
  .slider-hero .content-block h5 {
    font-size: 16px;
  }
  .slider-hero .read-story {
    display: none !important;
  }
  .slider-hero .content-block {
    max-height: 95px;
    top: 0 !important;
  }

  .slider-hero .owl-dots {
    bottom: 10px !important;
  }
}
/*** 9. Upcomming event ***/
.upcoming-event {
  padding: 55px 0;
  background-color: #faf9f9;
}
.upcoming-event .area-top {
  color: #2d2d2d;
}
.upcoming-event .area-top h2 {
  line-height: 1.2;
  margin: 14px 0;
}
.upcoming-event .area-top .map-icon {
  background: url("../images/map-icon.png") no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 10px;
}
.upcoming-event .area-top .text-place {
  font-size: 13px;
  line-height: 1.4;
  color: #757575;
}
.upcoming-event .area-top .area-calendar {
  background-color: #ebebeb;
  text-align: center;
  float: left;
  width: 70px;
  height: 90px;
  line-height: 1.4;
  padding-top: 5px;
}
.upcoming-event .area-top .area-calendar span {
  clear: both;
  float: left;
  width: 100%;
}
.upcoming-event .area-top .area-calendar .day {
  font-size: 27px;
  color: #2d2d2d;
}
.upcoming-event .area-top .area-calendar .month {
  font-size: 14px;
  color: #2d2d2d;
  padding-bottom: 5px;
}
.upcoming-event .area-top .area-calendar .year {
  background-color: #dadada;
  font-size: 14px;
  color: #595959;
  padding: 3px 0;
}
.upcoming-event .area-bottom {
  vertical-align: middle;
}
.upcoming-event .area-bottom .join-now {
  color: #fff;
  font-size: 18px;
  padding: 22px 80px;
  margin-top: 7px;
  font-family: "Montserrat-Bold";
}
@media (max-width: 991px) {
  .upcoming-event .area-img {
    margin-bottom: 30px;
  }
  .upcoming-event .area-img img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .upcoming-event .area-bottom {
    padding-top: 88px;
  }
}
@media (max-width: 767px) {
  .upcoming-event {
    padding: 20px 0 !important;
  }
  .upcoming-event .area-top h2 {
    font-size: 25px;
  }
  .upcoming-event .area-bottom {
    padding-top: 30px;
  }
  .upcoming-event .area-bottom #time {
    margin-bottom: 30px;
  }
}
@media (max-width: 570px) {
  .upcoming-event .area-bottom #time {
    width: 100%;
  }
  .upcoming-event .area-bottom .join-now {
    float: left !important;
  }
}

.table-cell {
  float: left;
  position: relative;
}
.table-cell:before {
  content: ":";
  position: absolute;
  right: 0;
  top: 2px;
  margin: auto;
  font-size: 30px;
}
.table-cell .tab-val {
  font-size: 40px;
  color: #2d2d2d;
  font-family: "Montserrat-Light";
}
.table-cell .tab-metr {
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Montserrat-Light";
  margin-top: 15px;
}
.table-cell:nth-child(4):before {
  display: none;
}
.table-cell:nth-child(1):before {
  padding-left: 0 !important;
}
@media (min-width: 768px) {
  .table-cell {
    padding: 0 23px;
  }
  .table-cell:nth-of-type(1){
    padding: 0 23px 0 0!important;
  }
  .table-cell .tab-val {
    font-size: 40px;
  }
  .table-cell .tab-metr {
    font-size: 14px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .table-cell {
    padding: 0 15px;
  }
  .table-cell:nth-of-type(1){
      padding: 0 15px 0 0!important;
  }
  .table-cell .tab-val {
    font-size: 30px;
  }
  .table-cell .tab-metr {
    font-size: 12px;
    margin-top: 15px;
  }
}

/*** 10. Alumni dashboard ***/
.alumni-dashboard {
  padding: 75px 0;
}
.alumni-dashboard .title-dashboard {
  color: #484848;
  margin-bottom: 35px;
}
.alumni-dashboard .area-content .icon {
  width: 45px;
  height: 30px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.alumni-dashboard .area-content .mail-icon {
  background-image: url("../images/message-icon.png");
}
.alumni-dashboard .area-content .account-icon {
  background-image: url("../images/account-icon.png");
}
.alumni-dashboard .area-content .group-icon {
  background-image: url("../images/group-icon.png");
}
.alumni-dashboard .area-content .search-icon {
  background-image: url("../images/search-icon.png");
}
.alumni-dashboard .area-content .box-content h4 {
  margin: 22px 0 30px;
  color: #484848;
}
.alumni-dashboard .area-content .box-content p {
  line-height: 1.8;
}
@media (max-width: 767px) {
  .alumni-dashboard .area-content .box-content {
    margin-bottom: 20px;
  }
}
.alumni-dashboard .login-dashboard {
  margin-top: 50px;
}
.alumni-dashboard .login-dashboard a {
  padding: 18px 32px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 15px;
  display: inline-block;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .alumni-dashboard {
    padding: 20px 0 !important;
  }
}

/*** Block Links ***/
.block-links {
  padding: 0 0 75px;
}
.block-links .title-links {
  padding: 10px 0;
  margin-bottom: 10px;
}
.block-links .title-links h3 {
  font-size: 21px;
  color: #2d2d2d;
}
.block-links h6 {
  color: #2d2d2d;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: -5px;
}
.block-links p {
  color: #9f9f9f;
  font-size: 11px;
  line-height: 1.4;
  font-family: "Montserrat-Light";
}
.block-links .view-all {
  width: 100%;
  float: left;
}
.block-links .view-all a {
  background-color: #e9e9e9;
  text-align: center;
  color: #484848;
  font-family: "Montserrat-Light";
  text-transform: capitalize;
  padding: 16px 0;
  display: block;
  font-size: 14px;
}
.block-links .column-news .post-item {
  margin-bottom: 30px;
}
.block-links .column-news .image-frame {
  float: left;
}
.block-links .column-news .image-frame img {
  width: 100%;
}
.block-links .column-news .post-desc-wrapper {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .block-links .column-news .image-frame {
    width: 37%;
  }
  .block-links .column-news .post-desc-wrapper {
    width: 63%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .block-links .column-news .image-frame {
    width: 28%;
  }
  .block-links .column-news .post-desc-wrapper {
    width: 72%;
  }
}
@media (max-width: 991px) {
  .block-links .column-news .image-frame {
    width: 40%;
  }
  .block-links .column-news .post-desc-wrapper {
    width: 60%;
  }
}
.block-links .column-career .company-item {
  margin-bottom: 30px;
}
.block-links .column-career .company-logo {
  float: left;
}
.block-links .column-career .company-desc-wrapper {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .block-links .column-career .company-logo {
    width: 37%;
  }
  .block-links .column-career .company-desc-wrapper {
    width: 63%;
  }
}
@media (max-width: 991px) {
  .block-links .column-career .company-logo {
    width: 25%;
  }
  .block-links .column-career .company-desc-wrapper {
    width: 75%;
    margin-top: 20px;
  }
}
.block-links .column-calendar {
  display: block;
  float: left;
}
.block-links .column-calendar .content-calendar {
  background-color: #fcfcfc;
  display: block;
  float: left;
}
.block-links .column-calendar .top-section {
  color: #484848;
  padding: 15px;
  border-bottom: 1px solid #e9e9e9;
}
.block-links .column-calendar .top-section h6 {
  margin: 0;
}
.block-links .column-calendar .top-section .calendar-icon {
  background: url("../images/calendar-icon.jpg") no-repeat;
}
.block-links .column-calendar .list-view {
  padding: 10px;
  float: left;
}
.block-links .column-calendar .list-view .view-item {
  border-bottom: 1px solid #e9e9e9;
  padding: 12px;
  width: 100%;
  float: left;
}
.block-links .column-calendar .list-view .view-item .date-item {
  width: 12%;
  float: left;
  padding: 0 2px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.3;
}
.block-links .column-calendar .list-view .view-item .date-item .dates {
  color: #484848;
}
.block-links .column-calendar .list-view .view-item .date-item .day {
  font-size: 28px;
}
.block-links .column-calendar .list-view .view-item .date-item .month {
  color: #9f9f9f;
}
.block-links .column-calendar .list-view .view-item .date-desc-wrapper {
  width: 88%;
  float: left;
  padding-left: 20px;
}
.block-links .column-calendar .list-view .view-item .date-desc-wrapper .place {
  float: left;
  margin: 5px 0;
}
.block-links .column-calendar .list-view .view-item .date-desc-wrapper .place .text-place {
  color: #757575;
  font-size: 10px;
}
.block-links .column-calendar .list-view .view-item .date-desc-wrapper .place .map-icon {
  width: 15px;
  height: 15px;
  float: left;
  background: url("../images/map-icon.png") no-repeat;
  background-size: 13px 13px;
  margin-right: 5px;
}
@media (min-width: 991px) {
  .block-links .column-calendar .list-view {
    overflow-y: scroll;
    height: 434px;
  }
}
@media (max-width: 991px) {
  .block-links .block-news {
    margin-bottom: 30px;
  }
  .block-links .block-career {
    margin-bottom: 30px;
  }
}

/*** 12. Alumni Interview ***/
.alumni-interview {
  background-size: cover;
}
.alumni-interview .interview-wrapper {
  display: block;
  float: left;
}
.alumni-interview .interview-wrapper h1 {
  font-size: 42px;
  color: #2d2d2d;
  margin: 20px 0;
  letter-spacing: 1px;
}
.alumni-interview .interview-wrapper h4 {
  font-size: 20px;
}
.alumni-interview .interview-wrapper .interview-desc p {
  line-height: 2;
  font-size: 13px;
  width: 85%;
}
.alumni-interview .interview-wrapper .interview-see-story {
  float: left;
  margin-top: 50px;
  display: block;
}
.alumni-interview .interview-wrapper .interview-see-story a {
  border: 3px solid #f7ca18;
  padding: 17px 41px;
  font-size: 17px;
  text-transform: uppercase;
  color: #2d2d2d;
  display: block;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.alumni-interview .interview-wrapper .interview-see-story a:hover {
  background-color: #f7ca18;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.alumni-interview .interview-wrapper h1 {
  color: #2d2d2d;
}
@media (min-width: 992px) {
  .alumni-interview .interview-wrapper {
    padding: 125px 0;
  }
}
@media (max-width: 991px) {
  .alumni-interview .interview-wrapper {
    padding: 40px 0;
  }
}
@media (min-width: 992px) {
  .alumni-interview {
    background: url("../images/bg-home.jpg") no-repeat;
  }
}
@media (max-width: 991px) {
  .alumni-interview {
    background-color: #e9e9e9;
  }
}

/*** 13. Twitter Stream ***/
.twitter-stream .twitter-icon {
  display: block;
  margin-bottom: 25px;
}
.twitter-stream .twitter-icon .fa {
  font-size: 40px;
}
.twitter-stream .twitter-content .twitter-desc p {
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 2;
}
.twitter-stream .twitter-content .twitter-desc a {
  color: #f7ca18;
}
.twitter-stream .twitter-content .twitter-user {
  width: 215px;
  margin: 20px auto 0;
}
.twitter-stream .twitter-content .twitter-user .avatar-user {
  float: left;
}
.twitter-stream .twitter-content .twitter-user .name {
  float: left;
  line-height: 2.2;
  margin-left: 18px;
  font-size: 18px;
  font-family: "Montserrat-Light";
}
@media (max-width: 767px) {
  .twitter-stream .twitter-content .twitter-desc p {
    font-size: 18px !important;
  }
}
@media (min-width: 768px) {
  .twitter-stream {
    padding: 75px 0;
  }
}
@media (max-width: 767px) {
  .twitter-stream {
    padding: 35px 0;
  }
}

/*** 14. Instagream  ***/
.instagream .instagram-feed ul li img {
  width: 100%;
}
.instagream .instagram-feed-user {
  width: 100%;
  float: left;
  background-color: #1a265c;
  margin-top: -5px;
  height: 60px;
  line-height: 57px;
  color: #fff;
}
.instagream .instagram-feed-user .user-wrapper {
  font-size: 14px;
  font-family: "Montserrat-Light";
  width: 140px;
  margin: 0 auto;
}
.instagream .instagram-feed-user .user-wrapper .icon-instagram {
  margin-right: 10px;
  margin-top: 3px;
  float: left;
  display: block;
}
.instagream .instagram-feed-user .user-wrapper .icon-instagram .fa {
  font-size: 22px;
  line-height: 22px;
}

/*** 15. newsletter  ***/
.newsletter {
  padding: 135px 0 115px;
  background: url("../images/bg-newsletter.jpg") no-repeat;
  background-size: cover;
}
.newsletter .newsletter-wrapper {
  display: block;
}
.newsletter .newsletter-title {
  margin-bottom: 30px;
  color: #fff;
}
.newsletter .newsletter-title h2 {
  margin-bottom: 20px;
}
.newsletter .newsletter-title p {
  font-size: 14px;
  font-family: "Montserrat-Light";
  color: #fff;
}
.newsletter .form-inline .form-control {
  background-color: transparent !important;
  border-top: none;
  border-right: none;
  border-left: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0 auto;
  border-color: #7f87a5 !important;
}
.newsletter .form-inline button {
  clear: both;
  margin: 30px auto 0;
  display: block;
  border: none;
  padding: 16px 45px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-Bold";
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .newsletter .newsletter-title h2 {
    font-size: 34px;
  }
  .newsletter .form-inline .form-control {
    width: 420px;
  }
}
@media (max-width: 767px) {
  .newsletter .newsletter-title h2 {
    font-size: 26px;
    line-height: 1.6;
  }
  .newsletter .newsletter-title p {
    display: none;
  }
  .newsletter .form-inline .form-control {
    width: 100%;
  }
}

.newsletter.type2 .form-inline button {
  color: #1a265c;
  font-family: "Montserrat-Light";
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border: 0px solid #fff;
  border-radius: 10px;
  opacity: 0.5;
}

/*************************************
   16. About Us Page
*************************************/
.about-us .about-us-title {
  background: url("../images/cover-image.jpg");
  background-size: cover;
  padding: 330px 0 200px;
}
.about-us .about-us-title h1 {
  color: #fff;
  letter-spacing: 1px;
}
.about-us .about-us-content {
  padding: 55px 0 25px;
}
.about-us .about-us-content .content-wrapper {
  line-height: 2;
  float: none;
}
.about-us .about-us-content .content-wrapper p {
  font-size: 14px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .about-us .about-us-title {
    padding: 330px 0 200px;
  }
  .about-us .about-us-content .content-wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 991px) {
  .about-us .about-us-title {
    padding: 70px 0 70px;
  }
}

.programs-services {
  padding-bottom: 40px;
}
.programs-services .services-img {
  padding-right: 30px;
}
.programs-services .services-img img {
  width: 100%;
}
.programs-services .services-content h2 {
  color: #2d2d2d;
  letter-spacing: 2px;
}
.programs-services .services-content #tab_services .nav-tabs {
  border-bottom: none;
}
.programs-services .services-content #tab_services .nav-tabs > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-family: "Montserrat-Light";
  color: #2d2d2d;
  border-bottom: 2px solid transparent !important;
}
.programs-services .services-content #tab_services .nav-tabs > li > a:hover {
  background: transparent !important;
  border-color: transparent !important;
}
.programs-services .services-content #tab_services .nav-tabs > li.active > a, .programs-services .services-content #tab_services .nav-tabs > li.active > a:hover, .programs-services .services-content #tab_services .nav-tabs > li.active > a:focus {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom: 2px solid #f7ca18 !important;
}
.programs-services .services-content #tab_services .tab-content {
  margin-top: 30px;
  float: left;
  line-height: 2;
  font-size: 14px;
}
.programs-services .services-content #tab_services .tab-content .list-item {
  margin-top: 25px;
  float: left;
}
.programs-services .services-content #tab_services .tab-content .list-item li {
  float: left;
  width: 100%;
  line-height: 3;
  position: relative;
}
.programs-services .services-content #tab_services .tab-content .list-item li:before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #f7ca18;
  margin-right: 35px;
  position: absolute;
  left: 0;
  top: 14px;
}
@media (min-width: 768px) {
  .programs-services .services-content #tab_services ul li {
    margin-right: 60px;
  }
  .programs-services .services-content #tab_services .tab-content .list-item {
    margin-left: 35px;
  }
  .programs-services .services-content #tab_services .tab-content .list-item li {
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .programs-services .services-content h2 {
    font-size: 26px;
  }
  .programs-services .services-content #tab_services ul li {
    margin-right: 10px;
  }
  .programs-services .services-content #tab_services .tab-content .list-item li {
    padding-left: 25px;
  }
}
@media (min-width: 992px) {
  .programs-services .services-content h2 {
    margin-bottom: 25px;
    margin-top: -5px;
  }
}
@media (max-width: 991px) {
  .programs-services .services-img {
    margin-bottom: 25px;
  }
  .programs-services .services-content h2 {
    margin-bottom: 10px;
  }
}

.our-history {
  background-color: #fafafa;
}
.our-history .history-content .list-history {
  position: relative;
}
.our-history .history-content .list-history:before {
  height: 5px;
  content: "";
  background-color: #f7ca18;
  position: absolute;
}
.our-history .history-content .list-history li {
  width: 16.666%;
  float: left;
  position: relative;
}
.our-history .history-content .list-history li .history-title {
  color: #2d2d2d;
  font-size: 14px;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  float: left;
  line-height: 1.6;
}
.our-history .history-content .list-history li .history-dot {
  width: 100%;
  float: left;
  text-align: center;
}
.our-history .history-content .list-history li .history-dot span {
  width: 15px;
  height: 15px;
  background-color: #1a265c;
  border: 3px solid #fff;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.our-history .history-content .list-history li .history-year {
  font-size: 14px;
  color: #9f9f9f;
  margin-top: 25px;
  float: left;
  width: 100%;
}
@media (min-width: 1200px) {
  .our-history .history-content .list-history:before {
    width: 960px;
    left: 89px;
    top: 74px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-history .history-content .list-history:before {
    width: 778px;
    left: 83px;
    top: 74px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-history .history-content .list-history .history-title {
    height: 66px;
  }
  .our-history .history-content .list-history:before {
    left: 59px;
    width: 606px;
    top: 95px;
  }
}
@media (max-width: 768px) {
  .our-history .history-content .list-history {
    width: 300px !important;
    margin: 0 auto;
  }
  .our-history .history-content .list-history:before {
    height: 458px !important;
    right: 118px;
    top: 30px;
    width: 5px;
  }
  .our-history .history-content .list-history li {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0;
  }
  .our-history .history-content .list-history li .history-title {
    float: left;
    width: 50%;
  }
  .our-history .history-content .list-history li .history-dot {
    float: left;
    width: 20%;
    margin-top: 20px !important;
  }
  .our-history .history-content .list-history li .history-year {
    float: left;
    width: 30%;
    margin-top: 20px !important;
  }
}
@media (min-width: 768px) {
  .our-history {
    padding: 60px 0 70px;
  }
  .our-history .history-content {
    padding-top: 40px;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .our-history {
    padding: 60px 0 20px;
  }
  .our-history .history-content {
    padding-top: 40px;
  }
}

.map .map-content img {
  width: 100%;
}
@media (min-width: 992px) {
  .map {
    padding: 60px 0;
  }
  .map .map-content {
    padding-top: 60px;
  }
}
@media (max-width: 991px) {
  .map {
    padding: 30px 0;
  }
  .map .map-content {
    padding-top: 20px;
  }
}

.title-page h2 {
  color: #2d2d2d;
  margin-bottom: 40px;
}
.title-page p {
  width: 53%;
  font-size: 14px;
  line-height: 2.4;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .title-page P {
    display: none;
  }
}
@media (max-width: 991px) {
  .title-page h2 {
    font-size: 26px;
  }
}

/*************************************
   17. Event Single Page
*************************************/
.event .event-img {
  background: url("../images/bg-event.jpg") 0 0;
  background-size: cover;
  position: relative;
}
.event .event-img img {
  width: 100%;
}
.event .event-img .event-time {
  background-color: #fff;
  position: absolute;
  display: inline-block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 60px;
  text-align: center;
}
.event .event-content {
  padding: 55px 0 35px;
}
.event .event-content .event-detail .dates {
  color: #484848;
  font-size: 20px;
}
.event .event-content .event-detail .event-detail-title {
  padding: 25px 0;
  display: block;
}
.event .event-content .event-detail .event-detail-title h1 {
  color: #2d2d2d;
  line-height: 1.2;
}
.event .event-content .event-detail .place {
  display: block;
  margin-bottom: 20px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}
.event .event-content .event-detail .place .icon-map {
  background: url("../images/event-map-icon.png");
  width: 19px;
  height: 27px;
  float: left;
}
.event .event-content .event-detail .place .place-text {
  font-size: 20px;
  color: #484848;
}
.event .event-content .event-detail .view-map {
  width: 100%;
  text-align: center;
  float: left;
  display: block;
  margin-bottom: 20px;
}
.event .event-content .event-detail .view-map a {
  color: #3a539b;
  font-size: 20px;
  border-bottom: 2px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: #3a539b;
}
.event .event-content .event-descriptiion {
  margin-top: 30px;
  width: 100%;
  float: left;
}
.event .event-content .event-descriptiion p {
  margin-bottom: 30px;
  color: #484848;
  font-size: 18px;
  line-height: 2;
}
.event .event-content .join-now {
  display: block;
  margin-top: 25px;
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.event .event-content .join-now a {
  color: #fff;
  font-size: 23px;
  padding: 20px 80px;
  line-height: 2.3;
}
@media (min-width: 768px) {
  .event .event-img .event-time {
    width: 545px;
    height: 115px;
    padding: 22px 60px;
  }
  .event .event-content .event-detail-title h1 {
    font-size: 35px;
  }
  .event .event-content .place {
    width: 51%;
  }
}
@media (max-width: 767px) {
  .event .event-img .event-time {
    width: 323px;
    height: 100px;
    padding: 20px;
    bottom: 10px !important;
  }
  .event .event-content .event-detail-title h1 {
    font-size: 25px;
  }
  .event .event-content .place {
    width: 95%;
  }
}

/*************************************
   18. Alumni Story Page
*************************************/
.alumni-story {
  padding: 55px 0 35px;
}
.alumni-story .alumni-story-wrapper {
  margin-bottom: 75px;
  float: left;
}
.alumni-story .alumni-story-wrapper .alumni-story-img img {
  width: 100%;
}
.alumni-story .alumni-story-wrapper .alumni-story-content {
  margin-top: 35px;
  padding-left: 30px;
  float: left;
  width: 100%;
}
.alumni-story .alumni-story-wrapper .alumni-story-content h3 {
  color: #484848;
  line-height: 1.4;
  margin-bottom: 20px;
}
.alumni-story .alumni-story-wrapper .alumni-story-content p {
  line-height: 2;
  font-size: 13px;
  float: left;
}
.alumni-story .alumni-story-wrapper .alumni-story-content .dates {
  float: left;
  margin-top: 20px;
  font-size: 13px;
  color: #9f9f9f;
}

.pagination-wrapper {
  text-align: center;
}
.pagination-wrapper .pagination > li {
  float: left;
}
.pagination-wrapper .prev {
  background: url("../images/prev.png") no-repeat;
  background-position: left center;
  padding-left: 15px;
  cursor: pointer;
}
.pagination-wrapper .next {
  background: url("../images/next.png") no-repeat;
  background-position: right center;
  padding-right: 15px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .pagination > li > a, .pagination > li > span {
    margin-left: 0 !important;
  }

  .prev a, .next a {
    font-size: 0 !important;
    padding: 18px 12px !important;
  }
}
/*************************************
   19. Job Detail Page
*************************************/
.job-detail {
  padding: 55px 0;
}
.job-detail .job-detail-title {
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.job-detail .job-detail-title h5 {
  color: #2d2d2d;
  margin: 10px 0;
}
.job-detail .desc p {
  line-height: 1.8;
  font-family: "Montserrat-Light";
  font-size: 14px;
}
.job-detail .brand {
  float: left;
}
.job-detail .brand .brand-log {
  float: left;
  width: 140px;
}
.job-detail .brand .brand-content {
  float: left;
}
.job-detail .brand .brand-content h2 {
  color: #2d2d2d;
  font-size: 28px;
  margin-bottom: 10px;
}
.job-detail .brand .brand-content a {
  font-size: 15px;
  color: #757575;
}
.job-detail .brand .brand-content a:hover {
  text-decoration: none;
  color: #f7ca18;
}
.job-detail .aplly a {
  color: #fff;
  font-size: 14px;
  padding: 14px 55px;
}
.job-detail .about-company {
  width: 100%;
  float: left;
  padding-top: 20px;
}
.job-detail .about-company .about-company-content .info {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  font-size: 14px;
}
.job-detail .about-company .about-company-content .info .icon {
  width: 30px;
  height: 30px;
  float: left;
}
.job-detail .about-company .about-company-content .info .text-content {
  float: left;
}
.job-detail .about-company .about-company-content .info .budding-icon {
  background: url("../images/building-icon.png") no-repeat;
}
.job-detail .about-company .about-company-content .info .paper-icon {
  background: url("../images/paper-icon.png") no-repeat;
}
.job-detail .about-company .about-company-content .info .clock-icon {
  background: url("../images/clock-icon.jpg") no-repeat;
}
.job-detail .about-company .about-company-content .info > span {
  float: left;
  margin-right: 35px;
  line-height: 1.4;
}
.job-detail .jobs {
  width: 100%;
  float: left;
  padding-top: 20px;
}
.job-detail .jobs .jobs-content {
  padding-left: 35px;
}
.job-detail .jobs .jobs-content h5 {
  margin-bottom: 20px;
  color: #3a539b;
}
.job-detail .jobs .jobs-content .price {
  width: 100%;
  float: left;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1.4;
}
.job-detail .jobs .jobs-content .price .icon {
  width: 30px;
  height: 30px;
  float: left;
  background: url("../images/star-icon.png") no-repeat;
}
.job-detail .jobs .jobs-content .price .text-price {
  float: left;
}
.job-detail .jobs .jobs-content .info {
  padding-left: 30px;
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.job-detail .jobs .jobs-content .info p {
  font-size: 14px;
}
.job-detail .why-us {
  width: 100%;
  float: left;
  padding-top: 20px;
}
.job-detail .why-us .why-us-content {
  padding-left: 35px;
}
.job-detail .why-us .why-us-content .list-item {
  margin-left: 30px;
  margin-top: 20px;
  float: left;
}
.job-detail .why-us .why-us-content .list-item li {
  float: left;
  width: 100%;
  line-height: 3;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
}
.job-detail .why-us .why-us-content .list-item li:before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #3a539b;
  margin-right: 35px;
  position: absolute;
  left: 0;
  top: 14px;
}
.job-detail .apply-to {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.job-detail .apply-to a {
  font-size: 14px;
  padding: 16px 60px;
  display: inline-block;
  color: #fff;
}
@media (min-width: 768px) {
  .job-detail .brand {
    width: 60%;
  }
  .job-detail .brand .brand-content {
    padding: 40px;
  }
  .job-detail .aplly {
    float: right;
    width: 30%;
    text-align: right;
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .job-detail .brand {
    width: 100%;
  }
  .job-detail .brand .brand-content {
    padding: 40px 20px;
  }
  .job-detail .aplly {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .job-detail .jobs .jobs-content .info p {
    line-height: 1.4;
  }
  .job-detail .why-us .list-item {
    margin-left: 0 !important;
  }
}

/*************************************
   20. Programs events Page
*************************************/
.program-upcoming-event {
  background-color: #22285a;
  background-size: cover;
}
.program-upcoming-event .area-img {
  position: relative;
}
.program-upcoming-event .area-img img {
  max-height: 545px;
  width: auto;
}
.program-upcoming-event .area-img #time-event {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  height: 70px;
  top: 0;
  color: #fff;
}
.program-upcoming-event .area-img #time-event .table-cell {
  padding: 0 20px !important;
}
.program-upcoming-event .area-img #time-event .table-cell .tab-val {
  color: #fff;
}
@media (min-width: 992px) {
  .program-upcoming-event .area-img #time-event {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .program-upcoming-event .area-img #time-event {
    width: 380px;
  }
}
@media (max-width: 767px) {
  .program-upcoming-event .area-img #time-event {
    width: 340px;
  }
}
.program-upcoming-event .area-content .area-top {
  color: #fff;
}
.program-upcoming-event .area-content .area-top .top-section {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.program-upcoming-event .area-content .area-top .top-section h5 {
  float: left;
  margin-right: 20px;
}
.program-upcoming-event .area-content .area-top .top-section .dates {
  float: left;
  line-height: 1.6;
}
.program-upcoming-event .area-content .area-top h2 {
  line-height: 1.4;
  margin: 14px 0;
  letter-spacing: 1px;
}
.program-upcoming-event .area-content .area-top .map-icon {
  background: url("../images/map-icon-while.png") no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 10px;
}
.program-upcoming-event .area-content .area-top .text-place {
  font-size: 13px;
  line-height: 1.4;
  color: #e9e9e9;
}
.program-upcoming-event .area-content .area-top .area-calendar {
  background-color: #ebebeb;
  text-align: center;
  float: left;
  width: 70px;
  height: 90px;
  line-height: 1.4;
  padding-top: 5px;
}
.program-upcoming-event .area-content .area-top .area-calendar span {
  clear: both;
  float: left;
  width: 100%;
}
.program-upcoming-event .area-content .area-top .area-calendar .day {
  font-size: 27px;
  color: #2d2d2d;
}
.program-upcoming-event .area-content .area-top .area-calendar .month {
  font-size: 14px;
  color: #2d2d2d;
  padding-bottom: 5px;
}
.program-upcoming-event .area-content .area-top .area-calendar .year {
  background-color: #dadada;
  font-size: 14px;
  color: #595959;
  padding: 3px 0;
}
.program-upcoming-event .area-content .area-bottom {
  vertical-align: middle;
}
.program-upcoming-event .area-content .area-bottom .join-now {
  color: #fff;
  font-size: 18px;
  margin-top: 7px;
  font-family: "Montserrat-Bold";
  display: inline-block;
}
@media (min-width: 1200px) {
  .program-upcoming-event .area-content {
    padding: 160px 0 0 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .program-upcoming-event .area-content {
    padding: 60px 0 0 40px;
  }
}
@media (min-width: 992px) {
  .program-upcoming-event .area-content .area-bottom {
    padding-top: 70px;
    text-align: center;
  }
  .program-upcoming-event .area-content .area-bottom .join-now {
    padding: 22px 80px;
  }
}
@media (max-width: 991px) {
  .program-upcoming-event .area-content {
    padding: 30px 0;
  }
  .program-upcoming-event .area-content .area-top h2 {
    font-size: 20px;
  }
  .program-upcoming-event .area-content .area-bottom {
    padding-top: 30px;
  }
  .program-upcoming-event .area-content .area-bottom .join-now {
    padding: 18px 50px;
  }
}

.event-calendar .top-section {
  background-color: #fcfcfc;
  padding: 30px 0;
}
.event-calendar .top-section h4 {
  color: #2d2d2d;
  font-size: 21px;
}
.event-calendar .event-month {
  color: #484848;
  padding: 55px 0;
  position: relative;
}
.event-calendar .event-month .year {
  width: 100%;
  float: left;
  font-size: 14px;
}
.event-calendar .event-month .month {
  width: 100%;
  float: left;
  font-size: 30px;
  padding: 10px;
}
.event-calendar .event-month .owl-prev, .event-calendar .event-month .owl-next {
  position: absolute;
  top: 10px;
  width: 21px;
  height: 37px;
  display: block !important;
  font-size: 0;
}
.event-calendar .event-month .owl-prev {
  background: url("../images/event-prev.png") no-repeat;
  left: 0px;
}
.event-calendar .event-month .owl-next {
  background: url("../images/event-next.png") no-repeat;
  right: 0px;
}
.event-calendar .event-list-content {
  background-color: #fcfcfc;
  margin-bottom: 55px;
  float: left;
}
.event-calendar .event-list-content .event-list-item:last-child {
  border: none !important;
}
.event-calendar .event-list-content .event-list-item {
  border-bottom: 1px solid #e9e9e9;
  padding: 45px 0;
  width: 94%;
  display: block;
  float: left;
  margin-left: 30px;
}
.event-calendar .event-list-content .event-list-item .date-item {
  float: left;
  padding: 0 5px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.3;
}
.event-calendar .event-list-content .event-list-item .date-item .dates {
  color: #9f9f9f;
  width: 100%;
  float: left;
  font-size: 21px;
}
.event-calendar .event-list-content .event-list-item .date-item .day {
  font-size: 40px;
  width: 100%;
  float: left;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper {
  float: left;
  padding-left: 55px;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .date-title {
  display: block;
  margin-bottom: 20px;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .date-title h4 {
  color: #2d2d2d;
  font-size: 21px;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .date-excerpt p {
  line-height: 2;
  font-size: 14px;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .place {
  float: left;
  margin: 10px 0 0;
  font-size: 12px;
  font-family: "Montserrat-Light";
  line-height: 2;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .place .text-place {
  color: #757575;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .place .map-icon {
  width: 18px;
  height: 18px;
  float: left;
  background: url("../images/map-icon.png") no-repeat;
  background-size: 18px 18px;
  margin-right: 10px;
  margin-top: 4px;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .place a {
  margin-left: 20px;
  text-decoration: underline;
  color: #818ddf;
}
.event-calendar .event-list-content .event-list-item .date-desc-wrapper .place a:hover {
  color: #f7ca18;
}
.event-calendar .event-list-content .event-list-item .date-links a {
  font-size: 14px;
  float: right;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.event-calendar .event-list-content .event-list-item .date-links span {
  float: right;
  width: 100%;
  text-align: center;
  color: #de2121;
  font-size: 14px;
}
.event-calendar .event-list-content .event-list-item .sold-out a {
  background-color: #9f9f9f;
  color: #fff;
}
.event-calendar .event-list-content .event-list-item .sold-out a:hover {
  color: #f7ca18;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.event-calendar .event-list-content .event-list-item .register a {
  border: 2px solid #f7ca18;
  color: #484848;
}
.event-calendar .event-list-content .event-list-item .register a:hover {
  color: #fff;
  background-color: #f7ca18;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 1200px) {
  .event-calendar .event-list-content .event-list-item .date-links a {
    padding: 18px 40px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .event-calendar .event-list-content .event-list-item .date-links a {
    padding: 18px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .event-calendar .event-list-content .event-list-item .date-links a {
    padding: 18px 10px;
  }
}
@media (min-width: 768px) {
  .event-calendar .event-list-content .event-list-item .date-links {
    width: 17%;
    float: right;
    padding-right: 20px;
  }
  .event-calendar .event-list-content .event-list-item .date-item {
    width: 8%;
  }
  .event-calendar .event-list-content .event-list-item .date-desc-wrapper {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .event-calendar .event-list-content .event-list-item {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .event-calendar .event-list-content .event-list-item .date-links {
    width: 100% !important;
  }
  .event-calendar .event-list-content .event-list-item .date-links a {
    padding: 18px 40px;
    display: inline-block;
    max-width: 200px;
    float: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .event-calendar .event-list-content .event-list-item .date-item {
    width: 20%;
  }
  .event-calendar .event-list-content .event-list-item .date-desc-wrapper {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .event-calendar .event-list-content .event-list-item .date-item {
    width: 100%;
    margin-bottom: 25px;
  }
  .event-calendar .event-list-content .event-list-item .date-desc-wrapper {
    width: 100%;
    padding-left: 0 !important;
  }
}

/*************************************
   21. Galery Page
*************************************/
.galery-wrapper .galery-title {
  padding: 80px 0 50px;
}
.galery-wrapper .galery-title h4 {
  font-size: 20px;
  color: #2d2d2d;
}
.galery-wrapper .galery-content {
  float: left;
}
.galery-wrapper .galery-content ul li {
  padding: 0;
  margin: -1px;
}
.galery-wrapper .galery-content ul li img {
  width: 100%;
}
.galery-wrapper .galery-content ul li .galery-item {
  position: relative;
}
.galery-wrapper .galery-content ul li .galery-item:hover .galery-content {
  visibility: visible;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.galery-wrapper .galery-content ul li .galery-item .galery-content {
  position: absolute;
  background-color: rgba(247, 202, 24, 0.9);
  top: 4%;
  left: 4%;
  right: 4%;
  bottom: 4%;
  margin: auto;
  width: 92%;
  height: 92%;
  z-index: 10;
  text-align: center;
  padding-top: 40%;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  opacity: 0;
}
.galery-wrapper .galery-content ul li .galery-item .galery-content h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  font-family: time-new-roman;
}
.galery-wrapper .galery-content ul li .galery-item .galery-content a {
  color: #fff;
  font-size: 25px;
}
.galery-wrapper .pagination-wrapper {
  padding: 53px 0;
  display: block;
  float: left;
  width: 100%;
}
.galery-wrapper .pagination-wrapper .pagination {
  margin: 0;
}

.overflow-body {
  overflow: hidden;
}

.bg-popup {
  background-color: rgba(48, 59, 108, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none;
}

.bg-popup.ready-popup {
  display: block;
}

.wrapper-popup {
  display: none;
  height: auto;
  left: 0;
  margin: auto;
  max-width: 700px;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
  transform: translateX(0) translateY(-50%);
  -webkit-transform: translateX(0) translateY(-50%);
  -moz-transform: translateX(0) translateY(-50%);
  -ms-transform: translateX(0) translateY(-50%);
}
.wrapper-popup .close-popup {
  color: #ececf0;
  font-size: 25px;
  position: absolute;
  top: -45px;
  right: 0;
}
.wrapper-popup .popup-content {
  background-color: #fff;
  float: left;
  padding: 0;
}
.wrapper-popup .popup-content .box-img img {
  width: 100%;
}
.wrapper-popup .popup-content .desc {
  padding: 30px 60px;
}
.wrapper-popup .popup-content .desc p {
  line-height: 2;
  color: #484848;
  font-size: 13px;
  font-family: "Montserrat-Light";
}

.wrapper-popup.ready-popup {
  display: block;
}

/*************************************
   22. Access Denied Page
*************************************/
.access-denied {
  padding: 90px 0 85px;
}
.access-denied h2 {
  color: #2d2d2d;
  margin-bottom: 20px;
}
.access-denied .box-text h4 {
  font-size: 20px;
  color: #484848;
  margin-bottom: 20px;
}
.access-denied .box-text p {
  font-size: 13px;
  line-height: 2;
}

/*************************************
   23. Log In And Register  Page
*************************************/
.account-page .account-title h4 {
  font-size: 20px;
  color: #484848;
  margin-bottom: 30px;
  line-height: 1.6;
}
.account-page .account-content {
  display: block;
}
.account-page .account-content .input-box input {
  width: 100%;
  max-width: 322px;
  margin: 0 auto;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-family: "Montserrat-Light";
  margin-bottom: 10px;
}
.account-page .account-content .buttons-set {
  margin-top: 40px;
}
.account-page .account-content .buttons-set a {
  padding: 16px 55px;
  color: #2d2d2d;
  font-size: 16px;
  display: inline-block;
}

@media (min-width: 768px) {
  .account-page.register {
    padding: 105px 95px 94px;
  }

  .account-page.login {
    padding: 135px 95px 115px;
  }
}
@media (max-width: 767px) {
  .account-page {
    padding: 40px 0;
  }
}
/*************************************
   24. Alummi Directory Page
*************************************/
.alumni-directory {
  float: left;
  padding: 85px 0 35px;
  width: 100%;
}
.alumni-directory .top-section {
  width: 100%;
  float: left;
  margin-bottom: 25px;
}
.alumni-directory .top-section .title-page h4 {
  font-size: 21px;
  color: #2d2d2d;
}
.alumni-directory .top-section .search-alumni-directory input {
  float: left;
  height: 45px;
  min-width: 260px;
  border-color: #e9e9e9;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 13px;
  color: #9f9f9f;
  font-family: "Montserrat-Light";
  padding-left: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}
.alumni-directory .top-section .search-alumni-directory button {
  float: left;
  border: none;
  height: 45px;
  padding: 16px 40px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
@media (min-width: 992px) {
  .alumni-directory .top-section .search-alumni-directory form {
    float: right;
  }
}
@media (max-width: 991px) {
  .alumni-directory .top-section .title-page {
    margin-bottom: 25px;
  }
  .alumni-directory .top-section .search-alumni-directory form {
    float: left;
  }
  .alumni-directory .top-section .search-alumni-directory form .form-control {
    width: auto !important;
    display: inline-block;
    min-width: 200px !important;
  }
}
@media (max-width: 480px) {
  .alumni-directory .top-section .search-alumni-directory form button {
    padding: 16px 20px !important;
  }
}
.alumni-directory .alumni-directory-content span {
  float: left;
  line-height: 4;
  font-size: 14px;
  font-family: "Montserrat-Light";
}
.alumni-directory .alumni-directory-content ul li {
  width: 100%;
  float: left;
}
.alumni-directory .alumni-directory-content .user {
  width: 20%;
}
.alumni-directory .alumni-directory-content .year {
  width: 15%;
  padding: 0 15px;
}
.alumni-directory .alumni-directory-content .city {
  width: 15%;
  padding: 0 15px;
}
.alumni-directory .alumni-directory-content .scholl {
  width: 25%;
  padding: 0 15px;
}
.alumni-directory .alumni-directory-content .department {
  width: 25%;
  padding-left: 15px;
}
.alumni-directory .alumni-directory-content .label-content {
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
}
.alumni-directory .alumni-directory-content .label-content span {
  color: #2d2d2d;
  font-size: 14px;
  text-transform: capitalize;
}
.alumni-directory .alumni-directory-content .box-content {
  padding: 3px 0;
  position: relative;
}
.alumni-directory .alumni-directory-content .box-content:before {
  content: "";
  height: 1px;
  width: 93.5%;
  bottom: 0;
  right: 0;
  background-color: #e9e9e9;
  position: absolute;
}
.alumni-directory .alumni-directory-content .box-content .user img {
  float: left;
}
.alumni-directory .alumni-directory-content .box-content .user .label-name {
  float: left;
  margin-left: 21px;
  color: #2d2d2d;
  font-family: "Montserrat-Regular";
}
@media (min-width: 1200px) {
  .alumni-directory .alumni-directory-content {
    width: 100%;
    float: left;
  }
}
@media (max-width: 1199px) {
  .alumni-directory .alumni-directory-content {
    overflow-y: hidden;
  }
  .alumni-directory .alumni-directory-content .list-item {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .alumni-directory .alumni-directory-content {
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .alumni-directory .alumni-directory-content {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .alumni-directory .alumni-directory-content {
    width: 100%;
  }
}
.alumni-directory .pagination-wrapper {
  float: left;
  width: 100%;
  padding: 55px 0 35px;
}

/*************************************
  25. Story Single Page
*************************************/
.story-single {
  padding-bottom: 55px;
}
.story-single .cover-img .area-img img {
  width: 100%;
}
.story-single .cover-img .area-title {
  color: #2d2d2d;
}
@media (min-width: 768px) {
  .story-single .cover-img .area-title {
    margin-top: -107px;
    margin-bottom: 50px;
  }
  .story-single .cover-img .area-title h1 {
    font-size: 45px;
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .story-single .cover-img .area-title {
    margin-bottom: 20px;
  }
  .story-single .cover-img .area-title h1 {
    font-size: 25px;
    margin-top: 20px;
  }
  .story-single .cover-img .area-title h2 {
    font-size: 18px;
  }
}
.story-single .story-content .desc {
  float: left;
  width: 100%;
}
.story-single .story-content .desc p {
  font-size: 18px;
  color: #2d2d2d;
  font-family: "Montserrat-Light";
  line-height: 1.6;
  margin-bottom: 40px;
}
.story-single .story-content .desc-center p {
  color: #2d2d2d;
  font-family: "Montserrat-Light";
  line-height: 1.4;
}
@media (min-width: 768px) {
  .story-single .story-content .desc-center {
    width: 76%;
    margin: 0 auto;
    padding: 35px 0 75px;
    clear: both;
  }
  .story-single .story-content .desc-center p {
    font-size: 33px;
  }
}
@media (max-width: 767px) {
  .story-single .story-content .desc-center {
    padding: 0 0 50px;
  }
  .story-single .story-content .desc-center p {
    font-size: 25px;
  }
}
.story-single .story-content .desc-border {
  padding: 35px;
  border: 2px dashed #f7ca18;
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.story-single .story-content .desc-border h4 {
  color: #2d2d2d;
  font-size: 20px;
  margin-bottom: 20px;
}
.story-single .story-content .desc-border p {
  color: #2d2d2d;
  font-size: 20px;
  font-family: "Montserrat-Light";
  line-height: 1.6;
}
@media (min-width: 768px) {
  .story-single .story-content .desc-border p {
    width: 58%;
    margin: 0 auto;
  }
}
.story-single .story-content .post-by p {
  font-size: 16px;
  color: #9f9f9f;
  font-style: italic;
}
.story-single .story-content .post-by span {
  text-decoration: underline;
}
.story-single .orther-story {
  background: url("../images/bg-other-story.jpg") no-repeat;
  background-size: cover;
}
.story-single .orther-story .box-right a {
  padding-right: 40px;
}
.story-single .orther-story .box-right a:before {
  content: "\e876";
  right: 0;
}
.story-single .orther-story .box-right .story-text {
  width: 100%;
  float: right;
}
.story-single .orther-story .box-left a {
  padding-left: 40px;
}
.story-single .orther-story .box-left a:before {
  content: "\e875";
  left: 0;
}
.story-single .orther-story a {
  color: #fff;
  display: block;
}
.story-single .orther-story a:before {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  top: 10px;
  position: absolute;
  color: #ecede7;
}
.story-single .orther-story a .story-text {
  font-size: 15px;
}
.story-single .orther-story a .story-title {
  font-size: 19px;
  margin-top: 10px;
  width: 100%;
  float: left;
}
@media (min-width: 768px) {
  .story-single .orther-story {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .story-single .orther-story {
    padding: 30px 0;
  }
}
.story-single .share .box-share h4 {
  float: left;
}
.story-single .share .box-share ul {
  float: left;
}
@media (min-width: 768px) {
  .story-single {
    padding-bottom: 55px;
  }
}
@media (max-width: 767px) {
  .story-single {
    padding-bottom: 25px;
  }
}

.share .box-share h4 {
  font-size: 18px;
  color: #2d2d2d;
  text-transform: uppercase;
  line-height: 3.5;
}
.share .box-share ul li {
  float: left;
  margin-left: 20px;
}
.share .box-share ul li a {
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.share .box-share ul li a:hover {
  opacity: 0.9;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 992px) {
  .share .box-share ul li {
    height: 55px;
    width: 220px;
  }
  .share .box-share ul .facebook a {
    background: url("../images/facebook.png") no-repeat;
  }
  .share .box-share ul .twitter a {
    background: url("../images/twitter.png") no-repeat;
  }
  .share .box-share ul .google a {
    background: url("../images/google.png") no-repeat;
  }
}
@media (max-width: 991px) {
  .share .box-share ul li {
    height: 37px;
    width: 37px;
  }
  .share .box-share ul .facebook a {
    background: url("../images/facebook-small.jpg") no-repeat;
  }
  .share .box-share ul .twitter a {
    background: url("../images/twitter-small.jpg") no-repeat;
  }
  .share .box-share ul .google a {
    background: url("../images/google-small.jpg") no-repeat;
  }
}
@media (min-width: 768px) {
  .share {
    padding: 55px 0;
  }
}
@media (max-width: 767px) {
  .share {
    padding: 25px 0;
  }
}

.comments .note-comments {
  color: #484848;
  font-size: 20px;
  margin-bottom: 30px;
  float: left;
}
.comments .list-comments {
  float: left;
}
.comments .list-comments li {
  width: 100%;
  float: left;
  padding: 20px 0;
}
.comments .list-comments li .user-avatar {
  float: left;
}
.comments .list-comments li .user-comments {
  float: left;
  padding-left: 30px;
}
.comments .list-comments li .user-comments h4 {
  font-size: 20px;
  color: #484848;
  margin-bottom: 20px;
}
.comments .list-comments li .user-comments p {
  font-size: 14px;
  color: #484848;
  line-height: 1.6;
  margin-bottom: 20px;
}
.comments .list-comments li .user-comments a {
  color: #9f9f9f;
  font-size: 14px;
}
@media (min-width: 992px) {
  .comments .list-comments li .user-avatar {
    width: 8%;
  }
  .comments .list-comments li .user-comments {
    width: 92%;
  }
}
@media (max-width: 991px) {
  .comments .list-comments li .user-avatar {
    width: 20%;
  }
  .comments .list-comments li .user-comments {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .comments {
    padding: 55px 0;
  }
}
@media (max-width: 767px) {
  .comments {
    padding: 25px 0;
  }
}

.write-comments .title-write h4 {
  color: #484848;
  font-size: 20px;
  margin-bottom: 30px;
  float: left;
}
.write-comments form .input-box {
  margin-bottom: 20px;
}
.write-comments form .your-comment {
  border-bottom: 1px solid #9f9f9f;
  width: 100%;
  float: left;
  padding-bottom: 45px;
}
.write-comments form .email {
  float: left;
}
.write-comments form .password {
  float: left;
}
.write-comments form input {
  padding: 15px;
}
.write-comments form textarea {
  padding-top: 15px;
  padding-left: 15px;
  height: 45px;
}
.write-comments form textarea, .write-comments form input {
  width: 100%;
  float: left;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #9f9f9f;
  color: #9f9f9f;
  font-size: 15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.write-comments form .buttons-set {
  text-align: right;
  margin-top: 30px;
  width: 100%;
  float: left;
}
.write-comments form .buttons-set a {
  padding: 18px 60px;
  font-size: 16px;
  color: #ffffff;
  display: block;
  float: right;
}
@media (min-width: 768px) {
  .write-comments form .email {
    margin-right: 4%;
  }
  .write-comments form .email, .write-comments form .password {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .write-comments form .email, .write-comments form .password {
    width: 100%;
  }
}
.write-comments ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9f9f9f;
}
.write-comments ::-moz-placeholder {
  /* Firefox 19+ */
  color: #9f9f9f;
}
.write-comments :-ms-input-placeholder {
  /* IE 10+ */
  color: #9f9f9f;
}
.write-comments :-moz-placeholder {
  /* Firefox 18- */
  color: #9f9f9f;
}

/*************************************
  26. Career Opportunity Page
*************************************/
.career-opportunity .top-section {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}
.career-opportunity .top-section .title-page h4 {
  font-size: 21px;
  color: #2d2d2d;
}
.career-opportunity .top-section .sellect-career-opportunity {
  width: 100%;
  float: left;
}
.career-opportunity .top-section .sellect-career-opportunity label {
  float: left;
  color: #484848;
  font-size: 15px;
  margin-right: 20px;
  line-height: 3;
}
.career-opportunity .top-section .sellect-career-opportunity .navbar-form {
  float: left;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item {
  float: left;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item li {
  float: left;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item input, .career-opportunity .top-section .sellect-career-opportunity .list-item .select {
  height: 45px;
  border: 1px solid #acacac;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Montserrat-Light";
}
@media (min-width: 480px) {
  .career-opportunity .top-section .sellect-career-opportunity .list-item input {
    min-width: 245px;
  }
  .career-opportunity .top-section .sellect-career-opportunity .list-item .select-rate {
    min-width: 245px;
  }
  .career-opportunity .top-section .sellect-career-opportunity .list-item .select-role {
    min-width: 135px;
  }
}
@media (max-width: 479px) {
  .career-opportunity .top-section .sellect-career-opportunity .list-item li {
    width: 100%;
  }
  .career-opportunity .top-section .sellect-career-opportunity .list-item input {
    width: 100%;
  }
  .career-opportunity .top-section .sellect-career-opportunity .list-item .select-rate {
    width: 100%;
  }
  .career-opportunity .top-section .sellect-career-opportunity .list-item .select-role {
    width: 100%;
  }
  .career-opportunity .top-section .sellect-career-opportunity .list-item .select .dropdown-menu {
    width: 100%;
    margin: 1px 0 0 !important;
  }
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .select {
  position: relative;
  line-height: 2;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .select a {
  color: #9f9f9f;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .select .select-box {
  padding: 15px;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .select .select-box li {
  line-height: 1;
  padding: 10px 0;
  width: 100%;
  float: left;
  font-size: 13px;
  cursor: pointer;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .select .select-box li:hover {
  color: #f7ca18;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .select span.select-icon {
  float: right;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .button-set .bnt {
  border: 2px solid #f7ca18;
  height: 45px;
  line-height: 1.4;
  padding: 11px 60px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.career-opportunity .top-section .sellect-career-opportunity .list-item .button-set .bnt:hover {
  background-color: #f7ca18;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 1200px) {
  .career-opportunity .top-section .sellect-career-opportunity .navbar-form {
    padding: 35px 0 55px;
  }
}
@media (max-width: 1199px) {
  .career-opportunity .top-section .sellect-career-opportunity .navbar-form {
    padding: 0 0 25px;
  }
  .career-opportunity .top-section .sellect-career-opportunity input, .career-opportunity .top-section .sellect-career-opportunity .select {
    margin-bottom: 10px;
  }
}
.career-opportunity .alumni-directory-content ul li {
  width: 100%;
  float: left;
  background-color: #fcfcfc;
}
.career-opportunity .alumni-directory-content ul li span {
  float: left;
}
.career-opportunity .alumni-directory-content ul li.even {
  background-color: transparent;
}
.career-opportunity .alumni-directory-content .label-content {
  background-color: transparent;
  padding-bottom: 20px;
}
.career-opportunity .alumni-directory-content .label-content span {
  color: #2d2d2d;
  font-family: "Montserrat-Light";
  font-size: 15px;
}
.career-opportunity .alumni-directory-content .label-content .company {
  padding-left: 15px;
}
.career-opportunity .alumni-directory-content .box-content {
  line-height: 6;
  padding: 20px 0;
}
.career-opportunity .alumni-directory-content .box-content span {
  font-size: 15px;
}
.career-opportunity .alumni-directory-content .company {
  width: 13%;
}
.career-opportunity .alumni-directory-content .company img {
  margin-top: 17px;
  float: left;
}
.career-opportunity .alumni-directory-content .position {
  width: 17.5%;
  padding: 0 15px;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  color: #2d2d2d;
}
.career-opportunity .alumni-directory-content .location {
  width: 13%;
  padding: 0 15px;
}
.career-opportunity .alumni-directory-content .rate {
  width: 13%;
  padding: 0 15px;
}
.career-opportunity .alumni-directory-content .role {
  width: 13%;
  padding: 0 15px;
}
.career-opportunity .alumni-directory-content .applicant {
  width: 13%;
  padding: 0 15px;
}
.career-opportunity .alumni-directory-content .apply {
  width: 17.5%;
  padding-left: 15px;
}
.career-opportunity .alumni-directory-content .apply a {
  padding: 16px 60px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
  line-height: 1.4;
}
@media (min-width: 1200px) {
  .career-opportunity .alumni-directory-content {
    width: 100%;
    float: left;
  }
}
@media (max-width: 1199px) {
  .career-opportunity .alumni-directory-content {
    overflow-y: hidden;
  }
  .career-opportunity .alumni-directory-content .list-item {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .career-opportunity .alumni-directory-content {
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .career-opportunity .alumni-directory-content {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .career-opportunity .alumni-directory-content {
    width: 100%;
  }
}
.career-opportunity .pagination-wrapper {
  float: left;
  width: 100%;
  padding: 35px 0;
}
@media (min-width: 768px) {
  .career-opportunity {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .career-opportunity {
    padding-top: 40px;
  }
}
.career-opportunity ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9f9f9f;
}
.career-opportunity ::-moz-placeholder {
  /* Firefox 19+ */
  color: #9f9f9f;
}
.career-opportunity :-ms-input-placeholder {
  /* IE 10+ */
  color: #9f9f9f;
}
.career-opportunity :-moz-placeholder {
  /* Firefox 18- */
  color: #9f9f9f;
}

/*************************************
  27. Blog Page
*************************************/
.latst-article .container {
  position: relative;
}
.latst-article .area-img img {
  width: 100%;
}
.latst-article .area-content {
  position: absolute;
  color: #fff;
}
.latst-article .area-content .category {
  display: block;
  float: left;
}
.latst-article .area-content .category a {
  display: block;
  float: left;
  padding: 12px 20px;
  color: #484848;
  font-size: 13px;
  background-color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.latst-article .area-content .category a:hover {
  color: #fff;
  background-color: #f7ca18;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.latst-article .area-content .article-title {
  display: block;
  margin: 20px 0;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .latst-article .area-content {
    bottom: 70px;
    left: 70px;
  }
  .latst-article .area-content .article-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .latst-article .area-content {
    bottom: 10px;
    left: 30px;
    width: 90%;
  }
  .latst-article .area-content .article-title h2 {
    font-size: 15px;
  }
}

.blog-content {
  padding: 55px 0;
}
.blog-content .articles .article-item .area-img img {
  width: 100%;
}
.blog-content .articles .article-item .area-content {
  margin-top: -2px;
}
.blog-content .articles .article-item .area-content .article-left {
  padding: 0;
  border-right: 1px solid #2d2d2d;
}
.blog-content .articles .article-item .area-content .article-left .stats {
  padding: 15px 5px;
  float: left;
  width: 100%;
}
.blog-content .articles .article-item .area-content .article-left .stats .text-content {
  margin-right: 0;
}
.blog-content .articles .article-item .area-content .article-left .catetory-title {
  background-color: #2d2d2d;
  text-align: center;
  padding: 9px;
}
.blog-content .articles .article-item .area-content .article-left .catetory-title h6 {
  color: #ffffff;
  font-size: 13px;
}
.blog-content .articles .article-item .area-content .article-right {
  padding-right: 0;
  padding-top: 23px;
  margin-bottom: 50px;
  padding-left: 30px;
}
.blog-content .articles .article-item .area-content .article-right h3 {
  margin-bottom: 15px;
}
.blog-content .articles .article-item .area-content .article-right h3 a {
  color: #484848;
  font-size: 23px;
  font-family: "Montserrat-Regular";
}
.blog-content .articles .article-item .area-content .article-right h3 a:hover {
  color: #f7ca18;
}
.blog-content .articles .article-item .area-content .article-right p {
  font-size: 13px;
  font-family: "Montserrat-Light";
  line-height: 1.6;
  margin-bottom: 30px;
}
.blog-content .articles .article-item .area-content .article-right .quote-source {
  color: #484848;
  font-size: 16px !important;
}
@media (max-width: 767px) {
  .blog-content .articles .article-item .area-content .article-right {
    padding-left: 0 !important;
  }
}

.blog-right .block-item {
  padding-bottom: 35px;
  float: left;
  width: 100%;
}
.blog-right .block-title {
  border-bottom: 1px solid #acacac;
  padding-bottom: 22px;
  margin-bottom: 30px;
}
.blog-right .block-title h5 {
  font-size: 20px;
  color: #484848;
}
.blog-right .popurlar-port ul li {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
.blog-right .popurlar-port ul li .area-img {
  width: 30%;
  float: left;
}
.blog-right .popurlar-port ul li .area-img img {
  max-width: 100%;
}
.blog-right .popurlar-port ul li .area-content {
  width: 70%;
  float: left;
  padding-left: 20px;
}
.blog-right .popurlar-port ul li .area-content h6 {
  font-size: 14px;
  color: #484848;
  padding: 5px 0 15px;
  line-height: 1.4;
}
.blog-right .twitter .twitter-icon {
  font-size: 20px;
  padding-bottom: 20px;
}
.blog-right .twitter .twitter-content {
  font-size: 17px;
  color: #484848;
  line-height: 1.6;
}
.blog-right .twitter .twitter-user {
  margin-top: 15px;
}
.blog-right .tag .list-inline li a {
  cursor: pointer;
  padding: 10px 17px;
  font-size: 14px;
  font-family: "Montserrat-Light";
  border: 1px solid #e1e1e1;
  display: block;
  margin-bottom: 15px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.blog-right .tag .list-inline li a:hover {
  background-color: #f7ca18;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 1200px) {
  .blog-right .block-content {
    padding: 0 25px;
  }
  .blog-right .tag .list-inline li a {
    padding: 10px 17px;
  }
}
@media (max-width: 1199px) {
  .blog-right .tag .list-inline li a {
    padding: 10px 14px;
  }
}

.stats span {
  float: left;
  margin-right: 20px;
}
.stats .text-content {
  font-size: 11px;
  line-height: 1.2;
}
.stats .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-repeat: no-repeat !important;
}
.stats .clock-icon-while {
  background: url("../images/clock-icon-while.png");
}
.stats .comment-icon-while {
  background: url("../images/comment-icon-while.png");
}
.stats .clock-icon {
  background: url("../images/clock-icon.png");
}
.stats .comment-icon {
  background: url("../images/comments-icon.png");
}
.stats .user-icon {
  background: url("../images/user-icon.png");
}

@media (max-width: 768px) {
  .stats > span {
    margin-bottom: 10px;
  }
}
/*************************************
  28. Blog Single Page
*************************************/
.blog-post-content .blog-post .area-img img {
  width: 100%;
}
.blog-post-content .blog-post .area-content {
  border-bottom: 1px solid #acacac;
  float: left;
  width: 100%;
}
.blog-post-content .blog-post .area-content h3 {
  color: #484848;
  margin-bottom: 20px;
}
.blog-post-content .blog-post .area-content .stats {
  float: left;
}
.blog-post-content .blog-post .area-content .desc {
  float: left;
  width: 100%;
}
.blog-post-content .blog-post .area-content .desc p {
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 14px;
  font-family: "Montserrat-Light";
}
.blog-post-content .blog-post .area-content .desc-center {
  width: 100%;
  display: block;
  float: left;
}
.blog-post-content .blog-post .area-content .desc-center p {
  color: #2d2d2d;
  font-size: 26px;
  font-family: "Montserrat-Light";
  line-height: 1.4;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .blog-post-content .blog-post .area-content .desc-center {
    padding: 25px 0 75px;
  }
  .blog-post-content .blog-post .area-content .desc-center p {
    font-size: 26px;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .blog-post-content .blog-post .area-content .desc-center {
    padding: 0px 0 55px;
  }
  .blog-post-content .blog-post .area-content .desc-center p {
    font-size: 20px;
    padding: 0 15px;
  }
}
.blog-post-content .blog-post .area-content .list-item {
  margin-top: 15px;
  margin-bottom: 50px;
  float: left;
  width: 100%;
}
.blog-post-content .blog-post .area-content .list-item li {
  float: left;
  width: 100%;
  line-height: 3;
  position: relative;
  font-size: 14px;
  font-family: "Montserrat-Light";
}
.blog-post-content .blog-post .area-content .list-item li:before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #f7ca18;
  margin-right: 35px;
  position: absolute;
  left: 0;
  top: 14px;
}
@media (min-width: 768px) {
  .blog-post-content .blog-post .area-content {
    padding: 35px;
  }
  .blog-post-content .blog-post .area-content .list-item {
    margin-left: 35px;
  }
  .blog-post-content .blog-post .area-content .list-item li {
    padding-left: 50px;
  }
  .blog-post-content .blog-post .area-content h3 {
    font-size: 23px;
  }
  .blog-post-content .blog-post .area-content .stats {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .blog-post-content .blog-post .area-content h3 {
    font-size: 18px;
  }
  .blog-post-content .blog-post .area-content .stats {
    margin-bottom: 15px;
  }
  .blog-post-content .blog-post .area-img {
    margin-bottom: 20px;
  }
  .blog-post-content .blog-post .list-item li {
    padding-left: 25px;
  }
}
.blog-post-content .share, .blog-post-content .comments, .blog-post-content .write-comments {
  width: 100%;
  float: left;
}
.blog-post-content .share {
  text-align: center;
}
.blog-post-content .share h4 {
  margin-bottom: 30px;
}
.blog-post-content .share ul li {
  float: none;
  display: inline-block;
}
.blog-post-content .write-comments .buttons-set a {
  padding: 23px 60px;
}
@media (min-width: 768px) {
  .blog-post-content .comments {
    padding: 25px 0 55px;
  }
}
@media (max-width: 767px) {
  .blog-post-content .comments {
    padding: 0 0 35px;
  }
}

.blog-content.blog-content-fullwidth {
  padding-top: 0 !important;
}

.blog-post-content.full-width .area-img {
  position: relative;
}
.blog-post-content.full-width .area-img .blog-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0;
  right: 0;
  margin: auto;
  color: #fff;
  height: 100px;
  text-align: center;
}
.blog-post-content.full-width .area-img .blog-text .category {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
.blog-post-content.full-width .area-img .blog-text .category a {
  display: inline-block;
  padding: 12px 20px;
  color: #484848;
  font-size: 13px;
  background-color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.blog-post-content.full-width .area-img .blog-text .category a:hover {
  color: #fff;
  background-color: #f7ca18;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.blog-post-content.full-width .area-img .blog-text .article-title {
  display: block;
  margin: 20px 0;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .blog-post-content.full-width .area-img .blog-text .article-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .blog-post-content.full-width .area-img .blog-text .article-title h2 {
    font-size: 18px;
  }
}
.blog-post-content.full-width .area-content {
  border-bottom: none;
  padding-bottom: 0;
}
.blog-post-content.full-width .area-content .stats {
  float: left;
  width: 100%;
  border-bottom: 1px solid #acacac;
  padding-bottom: 45px;
  margin-bottom: 0;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .blog-post-content.full-width .area-content {
    margin-top: 20px;
  }
}
.blog-post-content.full-width .area-content, .blog-post-content.full-width .share, .blog-post-content.full-width .comments, .blog-post-content.full-width .write-comments {
  width: 100%;
  float: left;
}
.blog-post-content.full-width .write-comments {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .blog-post-content.full-width .area-content, .blog-post-content.full-width .share, .blog-post-content.full-width .comments, .blog-post-content.full-width .write-comments {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/*************************************
  29. Typography Page
*************************************/
.divider {
  height: 30px;
  clear: both;
  overflow: hidden;
  width: 100%;
}

.divider--sm {
  height: 25px;
}

.divider--md {
  height: 35px;
}

.divider--lg {
  height: 45px;
}

.line10 {
  line-height: 1;
}

.line15 {
  line-height: 1.5;
}

.line20 {
  line-height: 2;
}

.typography {
  color: #2d2d2d;
}
.typography .paragraphs p {
  line-height: 2;
  font-size: 14px;
  font-family: "Montserrat-Light";
  color: #757575;
}
.typography .title-page {
  margin-bottom: 20px;
  margin-top: 30px;
}
.typography .title-page h4 {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 3px solid #f7ca18;
  display: inline-block;
}
.typography .highlighter p {
  color: #757575;
}
.typography .blockquotes p {
  padding: 15px 0px 15px 50px;
  color: #757575;
}
.typography .border-blockquotes p {
  border: 2px dashed #f7ca18;
  padding: 45px 50px;
}
.typography .listing li {
  float: left;
  width: 100%;
  line-height: 1.5;
  font-family: "Montserrat-Light";
  font-size: 14px;
  margin-bottom: 20px;
  color: #757575;
}
.typography .listing .simple-list li:before {
  content: "";
  width: 20px;
  height: 20px;
  float: left;
  background-color: #f7ca18;
  margin-right: 20px;
}
.typography .listing .decimal-list {
  list-style-type: none;
  counter-reset: myCounter;
}
.typography .listing .decimal-list li {
  text-indent: 0;
  position: relative;
  padding-left: 15px;
}
.typography .listing .decimal-list ul {
  counter-reset: myCounter1;
  list-style-type: none;
  padding: 0;
  margin: 7px 0 0 17px;
}
.typography .listing .decimal-list ul li:before {
  content: counter(myCounter1);
  counter-increment: myCounter1;
}
.typography .listing .decimal-list li:before {
  content: counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.typography .alignment p {
  color: #757575;
}

button.bnt-theme{
  padding: 20px 50px;
  color: #fff;
  border: 0;
  border-radius: 0;
}

@media (min-width: 992px) {
  .marginalise {
    margin: 160px auto 30px;
  }
}
/*# sourceMappingURL=styles.css.map */
